/* Start Global rules */

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;

  margin: 0;
  padding: 0;
}
:root {
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --section-background: #ececec;
  --main-transition: 300ms; 
  --main-padding: 100px;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Cairo', sans-serif;
}
ul {
  list-style: none;
}
a {
  display: inline-block;
  text-decoration: none;
}

/* Start containers */
.container {
  position: relative;
  margin: 0 auto;
  padding: 0 15px;
}
/* medias of containers */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End containers */

/* End Global rules */

header .container {
  display: flex;
  align-items: center;
}
@media(max-width: 767px) {
  header .container {
    flex-direction: column  ;
  }
}
header .container > nav {
  flex: 1;
}
header .logo a {
  color: var(--main-color);
  font-size: 1.75rem;
  font-weight: 700;
}
nav.links ul {
  display: flex;
  justify-content: end;
  align-items: center;
}
nav.links li {
  cursor: pointer;
}
nav.links ul a {
  position: relative;
}
nav.links ul > li > a {
  position: relative;
  padding: 1.25rem 1.5rem;
  font-size: 1.1rem;
  color: black;
}
@media(max-width: 767px) {
  nav.links ul > li > a {
    font-size: .9rem;
    padding: .75rem 1rem;
  }
}
nav.links ul > li > a:hover {
  color: var(--main-color);
}
nav.links ul > li > a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 5px;
  background-color: var(--main-color);
  transition-duration: var(--main-transition);
}
nav.links ul > li > a:hover::before {
  width: 100%;
}
nav.links ul > li > a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fafafa;
  transition-duration: var(--main-transition);
  z-index: -1;
  opacity: 0;
}
nav.links ul > li > a:hover::after {
  opacity: 1;
} 

/* Start mega menu */
.mega-menu {
  display: flex;
  opacity: 0;
  background-color: rgb(64, 64, 64);
  position: absolute;
  width: 96%;
  top: 140px;
  left: 0;
  margin: 0 1rem;
  padding: 1rem;
  border-bottom: 4px solid var(--main-color);
  z-index: -1;
  transition: var(--main-transition);
}
a.other-links:hover +.mega-menu,
.mega-menu:hover{
  opacity: 1;
  z-index: 1000;
  top: 73px;
}
.mega-menu > nav {
  flex: 1;
}
.mega-menu > * {
  flex-basis: 50%;
  padding: 1rem 0;
}
@media(max-width: 993px) {
  .mega-menu .hero-img {
    display: none;
  }
}
@media(max-width: 1200px) {
  .mega-menu > .other-links {
    flex-basis: 70%;
  }
}
.mega-menu img {
  width: 100%;
}
header .mega-menu ul {
  display: flex;
  justify-content: center;
  padding: 0 1rem;
  gap: 2.5rem;
  font-size: 1.2rem;
}
header .mega-menu ul > * {
  flex: 1;
}
header .mega-menu li {
  position: relative;
  border-bottom: 1px solid #fafafa;
  padding-left: .5rem;
  padding-bottom: .5rem;
  margin-bottom: .75rem;
}
header .mega-menu li::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;
  left: 0;
  background-color: #fafafa;
  transition-duration: var(--main-transition);
  z-index: -1;
}
header .mega-menu li:hover::before {
  width: 100%;
}
header .mega-menu .left-side li:nth-child(5),
header .mega-menu .right-side li:nth-child(5) {
  border-bottom: none;
}
header .mega-menu li,
header .mega-menu a {
  color: var(--main-color) !important;
  font-weight: 700;
}

@media(max-width: 767px) {
  .mega-menu {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  a.other-links:hover +.mega-menu,
  .mega-menu:hover {
    top: 100px;
  }
  header .mega-menu ul {
    gap: 0;
    flex-direction: column;
  }
  header .mega-menu ul > * {
    width: 100%;
  }
  header .mega-menu .left-side li:nth-child(5) {
    border-bottom: 1px solid #fafafa;
  }
}
/* end mega menu */

.Test {
  min-height: 100vh;
}