/* Start Global rules */

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;

  margin: 0;
  padding: 0;
}
:root {
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --text-color-alt: #777;
  --section-background: #ececec;
  --main-transition: 300ms; 
  --main-padding: 6.25rem;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Cairo', sans-serif;
}
ul {
  list-style: none;
}
a {
  display: inline-block;
  text-decoration: none;
}
img {
  max-width: 100%;
}
.grid-3,
.grid-4 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.grid-3 {
  gap: 2rem;
}
.grid-4 {
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 2rem
}
.section-padding {
  padding: var(--main-padding) 0;
}
.flexable {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  }
  .flexable > * {
    flex-basis: 100%;
  }
  @media (min-width: 768px) {
    .flexable > * {
      flex-basis: calc(50% - 1rem);
    }
  }
/* Start Component { Sections heading } */
.section-heading {
  position: relative;
  width: fit-content;
  margin: 0 auto 5rem;
  padding: 0 1.25rem;
  font-size: 1.25rem;
  text-transform: uppercase;
  border: 2px solid black;
}
.section-heading:hover {
  color: white;
  border-color: white;
  transition-duration: var(--main-transition);
  transition-delay: 600ms;
}
.section-heading::before,
.section-heading::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  background-color: var(--main-color);
  border-radius: 50%;
}
.section-heading::before {
  left: -35px;
}
.section-heading::after {
  right: -35px;
}
.section-heading:hover::before {
  animation: dot-left 1s linear;
  animation-fill-mode: forwards;
  z-index: -1;
}
.section-heading:hover::after {
  animation: dot-right 1s linear;
  animation-fill-mode: forwards;
  z-index: -1;
}
@keyframes dot-left {
  0% {
    left: -35px;
  }
  25% {
    left: 0;
  }
  50% {
    width: 50%;
    height: 100%;
    border-radius: 0;
  }
  100% {
    width: 50%;
    height: 100%;
    border-radius: 0;
    left: 0;
  }
}
@keyframes dot-right {
  0% {
    right: -35px;
  }
  25% {
    right: 0;
  }
  50% {
    width: 50%;
    height: 100%;
    border-radius: 0;
  }
  100% {
    width: 50%;
    height: 100%;
    border-radius: 0;
    right: 0;
  }
}
/* End Component { Sections heading } */

/* Start containers */
.container {
  position: relative;
  margin: 0 auto;
  padding: 0 15px;
}
/* medias of containers */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End containers */

/* End Global rules */

/* Start Header */

header .container {
  display: flex;
  align-items: center;
}
@media(max-width: 767px) {
  header .container {
    flex-direction: column  ;
  }
}
header .container > nav {
  flex: 1;
}
header .logo a {
  color: var(--main-color);
  font-size: 1.75rem;
  font-weight: 700;
}
nav.links ul {
  display: flex;
  justify-content: end;
  align-items: center;
}
nav.links li {
  cursor: pointer;
}
nav.links ul a {
  position: relative;
}
nav.links ul > li > a {
  position: relative;
  padding: 1.25rem 1.5rem;
  font-size: 1.1rem;
  color: black;
}
@media(max-width: 767px) {
  nav.links ul > li > a {
    font-size: .9rem;
    padding: .75rem 1rem;
  }
}
nav.links ul > li > a:hover {
  color: var(--main-color);
}
nav.links ul > li > a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 5px;
  background-color: var(--main-color);
  transition-duration: var(--main-transition);
}
nav.links ul > li > a:hover::before {
  width: 100%;
}
nav.links ul > li > a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fafafa;
  transition-duration: var(--main-transition);
  z-index: -1;
  opacity: 0;
}
nav.links ul > li > a:hover::after {
  opacity: 1;
} 

/* Start mega menu */
.mega-menu {
  display: flex;
  opacity: 0;
  background-color: white;
  position: absolute;
  width: 96%;
  top: 140px;
  left: 0;
  margin: 0 1rem;
  padding: 1rem;
  border-bottom: 4px solid var(--main-color);
  z-index: -1;
  transition: var(--main-transition);
}
a.other-links:hover +.mega-menu,
.mega-menu:hover{
  opacity: 1;
  z-index: 1000;
  top: 73px;
}
.mega-menu > nav {
  flex: 1;
}
.mega-menu > * {
  flex-basis: 50%;
  padding: 1rem 0;
}
@media(max-width: 993px) {
  .mega-menu .hero-img {
    display: none;
  }
}
@media(max-width: 1200px) {
  .mega-menu > .other-links {
    flex-basis: 70%;
  }
}
header .mega-menu ul {
  display: flex;
  justify-content: center;
  padding: 0 1rem;
  gap: 2.5rem;
  font-size: 1.2rem;
}
header .mega-menu ul > * {
  flex: 1;
}
header .mega-menu li {
  position: relative;
  border-bottom: 1px solid #e9e6e6;
  padding: 0.645rem .5rem;
}
header .mega-menu li::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fafafa;
  transition-duration: var(--main-transition);
  z-index: -1;
}
header .mega-menu li:hover::before {
  width: 100%;
}
header .mega-menu .left-side li:nth-child(5),
header .mega-menu .right-side li:nth-child(5) {
  border-bottom: none;
}
header .mega-menu li,
header .mega-menu a {
  color: var(--main-color) !important;
  font-weight: 700;
}

@media(max-width: 767px) {
  .mega-menu {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  a.other-links:hover +.mega-menu,
  .mega-menu:hover {
    top: 100px;
  }
  header .mega-menu ul {
    gap: 0;
    flex-direction: column;
  }
  header .mega-menu ul > * {
    width: 100%;
  }
  header .mega-menu .left-side li:nth-child(5) {
    border-bottom: 1px solid #e9e6e6;
  }
}
/* end mega menu */

/* End Header */

/* Start landing */
.landing {
  position: relative;
  display: flex;
  align-items: center;
  min-height: calc(100vh - 73px);
  background-color: #ececec;
  clip-path: polygon(0% 0% , 100% 0% , 100% 75% , 0% 95%);
}
.landing .container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}
.landing .container > * {
  flex-basis: 50%;
}
.landing .heading h1 {
  font-size: 2.5rem;
  word-spacing: -3px;
  letter-spacing: -1px;
}
.landing .heading p {
  color: #666;
  font-size: 1.4rem;
  max-width: 500px;
  line-height: 1.6;
}
@media(max-width: 767px) {
  .landing .heading h1 {
    font-size: 1.8rem;
  }
  .landing .heading p {
    font-size: 1.2rem;
  }
}
@media(max-width: 993px) {
  .landing {
    clip-path: polygon(0% 0% , 100% 0% , 100% 85% , 0% 95%);
  }
  .landing * {
    flex: 1;
  }
  .landing .heading {
    text-align: center;
  }
  .landing .landing-img  {
    display: none;
  }
  .landing p {
    margin: 0 auto;
  }
}
.landing .landing-img {
  transition: var(--main-transition);
  animation: landing linear 5s infinite ;
}
@keyframes landing {
  0%,
  50%,
  100% {
    transform: translateY(0);
  }
  25%,
  75% {
    transform: translateY(10%);
  }
}
.landing-arrow {
  font-weight: bold;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: var(--main-color);
  animation: arrow ease-out 1s infinite ;
}
@media(max-width: 767px) {
  .landing-arrow {
    bottom: -25px ;
  }
}
@keyframes arrow {
  0%,
  65%,
  100%{
    transform: translateY(0) translateX(-50%);
  }
  50%,
  75%{
    transform: translateY(-10px) translateX(-50%);
  }

}
/* End landing */

/* Start article */
.article .box {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 #eee;
  transition: var(--main-transition);
}
.article .box:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 10px 5px #eee;
}
.article .article-imgs img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.article .article-content {
  border-bottom: 1px solid #e6e6e7;
  padding: 0.75rem 1rem 1rem;
}
.article .article-content p {
  color: var(--text-color-alt);
  line-height: 1.4;
}
.article .article-link {
  display: flex;
  justify-content: space-between  ;
  align-items: center;
  color: var(--main-color);
  padding: 1rem;
}
.article .article-link a {
  cursor: pointer;
  color: var(--main-color);
  font-weight: 700;
}
.article .box:hover i {
  animation: left-to-right 500ms linear infinite;
}
@keyframes left-to-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(5px);
  }
}
/* End article */

/* stat gallery */
.gallery {
  position: relative;
}
.gallery::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--section-background);
  z-index: -1;
}
.gallery .image-container {
  background-color: white;
  padding: 1rem;
}
.gallery .overlay {
  position: relative;
  overflow: hidden;
}
.gallery .overlay::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  background-color: rgb(255, 255, 255, 0.2);
  z-index: 2;
}
.gallery .overlay:hover::before {
  animation: flash 700ms;
}
.gallery .overlay:hover img {
  transform: scale(1.1) rotate(5deg);
}
@keyframes flash {
  0%, 40% {
    opacity: 1;
  }
  100% {  
    opacity: 0;
    width: 200%;
    height: 200%;
  }
}
.gallery .image-container img {
  transition: var(--main-transition);
}
/* End gallery */

/* Start Features */
.feature .box {
  /* Variables clr are taken from Html */
  text-align: center;
  background-color: white;
  border: 1px solid #ccc;
}
.feature .box .image {
  position: relative;
  transition-duration: var(--main-transition);
  overflow: hidden;
  max-height: 342px;
}
.feature .box .image::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--clr);
  opacity: 0.5;
}
.feature .box .image::after {
  content: "";
  position: absolute;
  bottom: 0;
  right:0 ; 
  border-color: transparent transparent white transparent;
  border-width: 140px 0 140px 450px;
  border-style: solid;
  transition: var(--main-transition);
}
.feature .box:hover .image::after {
  border-width: 140px 450px 140px 0px;
}
.feature .box .content {
  text-transform: capitalize;
  padding: 1.5rem;
}
.feature .content h3 {
  position: relative;
  width: fit-content;
  margin: 0 auto;
  padding: .5rem 0;
  font-size: 2.5rem;
}
.feature .content h3::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 70%;
  height: 5px;
  background-color: var(--clr);
}
.feature .content p {
  color: var(--text-color-alt);
  font-size: 1.2rem;
  margin: 2rem 0;
}
.feature a {
  position: relative;
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--clr);
  border: 4px solid var(--clr);
  border-radius: 5px;
  padding: .1rem 1.75rem;
  margin-bottom: 2rem;
  z-index: 2;
  
}
.feature a::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
  background-color: var(--clr);
  transition: var(--main-transition);  
  z-index: -1;
}
.feature .box:hover a {
  color: white;
}
.feature .box:hover a::before {
  width: 100%;
}
/* End Features */

/* Start Testimonials */
.testimonials {
  position: relative;
}
.testimonials::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--section-background);
  z-index: -1;
}
.testimonials .box {
  position: relative;
  background-color: white;
  padding: 1rem 1.5rem;
  border-radius: 10px;
}
.testimonials .image {
  display: flex;
  position: absolute;
  top: -50px;
  right: -10px;
  background-color: #ececec;
  border-radius: 50%;
  padding: 10px;
}
.testimonials .image img {
  border-radius: 50%;
  max-height: 80px;
}
.testimonials .role,
.testimonials .para {
  color: var(--text-color-alt);
}
.testimonials .rating i.filled {
  color: #ffc107;
}
/* End Testimonials */

/* Start Team Members */
.team-members .box {
  position: relative;
  padding: 5rem 0 1rem;
}
.team-members .box::before,
.team-members .box::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  border-radius: 10px;
}
.team-members .box::before {
  width: 80%;
  background-color: #f3f3f3;
  z-index: -2;
}
.team-members .box::after {
  width: 0;
  background-color: #e4e4e4;
  transition-duration: var(--main-transition);
  z-index: -1;
}
.team-members .box:hover::after {
  width: 80%;
}
.team-members .content {
  display: flex;
  justify-content: space-between;
}
.team-members img {
  border-radius: 10px;
  transition-duration: var(--main-transition);
}
.team-members .box:hover img {
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
  -o-filter: grayscale(1);
  -moz-filter: grayscale(1);
}
.team-members .links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  gap: 1.5rem;
}
.team-members .links a {
  color: #777;
  cursor: pointer;
}
.team-members .links a:hover {
  color: var(--main-color);
}
.team-members .person {
  width: 75%;
  margin-left: auto;
}
.team-members .person .member {
  font-size: 1.5rem;
  color: var(--main-color);
  transition-duration: var(--main-transition);
}
.team-members .box:hover .person .member {
  color: #777;
}
/* End Team Members */

/* Start Services */
.services {
  position: relative;
}
.services::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--section-background);
  z-index: -1;
}
.services .box {
  position: relative;
  text-align: center;
  background-color: white;
  padding-bottom: 0;
  box-shadow: 0 0 10px 10px rgb(60 61 63 / 5%);
  overflow: hidden;
  counter-increment: service;
  transition-duration: var(--main-transition);
}
.services .box:hover {
  transform: translateY(-10px);
}
.services .box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 3px;
  background-color: var(--main-color);
  transition-duration: var(--main-transition);
}
.services .box:hover::before {
  width: 100%;
}
.services .box .content {
  padding-top: 2rem;
  padding-bottom: 1rem;
}
.services .box .content i {
  color: #d5d5d5;
}
.services .box .content h3 {
  color: var(--main-color);
  margin-top: .5rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: capitalize;
}
.services .box .footer {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #f9f9f9;
  margin-top: 1rem;
  min-height: 50px;
  overflow: hidden;
}
.services .box .footer::before {
  content: "0" counter(service);
  position: absolute;
  left: -4px;
  width: 60px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 1rem;
  padding-right: 2rem;
  background-color: var(--main-color);
  font-size: 1.75rem;
  font-weight: bold;
  color: white;
  clip-path: polygon(0 0 , 100% 0 , 70% 100%, 0 100%);  
  z-index: 1000;
}
.services .box .footer::after {
  content: "";
  position: absolute;
  left: 70px;
  bottom: 0;
  width: 90px;
  height: 100%;
  background-color: #d5d5d5;
  clip-path: polygon(30% 0 , 100% 0 , 60% 100%, 0% 100%); 
}
.services .box .link {
  color: var(--main-color);
  margin-right: 1rem;
}
/* End Services */

/* Start Skills */
.skills .box {
  margin-bottom: .5rem;
}
.skills .image {
  flex-basis: calc(45% - 1rem);
}
.skills .data {
  flex-basis: calc(55% - 1rem);
}
@media(max-width: 993px) {
  .flexable > .data {
    flex-basis: 100%;
  }
  .skills .image {
    display: none;
  }
}
.skills .box .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: .75rem;
}
.skills .content .percent::before {
  content: attr(data-percent);
  padding: 0 0.4rem;
  font-size: .75rem;
  font-weight: bold;
  color: var(--main-color);
  border: 1px solid #ddd;
  border-radius: 5px;
}
.skills .box .bar {
  position: relative;
  height: 30px;
  background-color: #eee;
}
.skills .bar span {
  position: absolute;
  background-color: var(--main-color);
  height: 100%;
}
/* End Skills */

/* Start work */
.work {
  position: relative;
}
.work::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--section-background);
  z-index: -1;
}
.work .container.flexable {
  gap: 1.25rem;
  align-items: center;
}
.work .box {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2rem;
  background-color: #f6f5f5;
  border: 2px solid white;
  border-radius: 10px;
  padding: 1rem 1.9rem;
  margin: 1rem 0;
  z-index: 2;
}
.work .box::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  background-color: var(--section-background);
  transition-duration: var(--main-transition);
  border-radius: 10px;
  z-index: -1;
}
.work .box:hover::before {
  width: 100%;
  height: 100%;
}
@media(max-width: 993px) {
  .work .container.flexable {
    flex-direction: column;
  }
}
.work .work-image img {
  max-height: 165px;
}
.work .text h3 {
  font-size: 1.4rem;
}
.work .text p {
  font-size: 1.1rem;
  color: var(--text-color-alt);
  padding-bottom: 1rem;
}
/* End work */

/* Start Event */
.event .flexable {
  display: flex;
  justify-content: center;
  align-items: center;
}
.event .flexable > * {
  flex-basis: 40%;
}
.event .flexable .content {
  flex: 1;
}
@media(max-width: 993px) {
  .event .flexable .image {
    display: none;
  }
}
.event .content {
  text-align: center;
}
.event .count-container {
  display: flex;
  justify-content: center;
}
.event .count {
  position: relative;
  min-width: 75px;
  min-height: 100px;
  margin: 0 .25rem;
  border: 1px solid #d4d4d4;
  border-radius: 5px;
  transition-duration: var(--main-transition);
}
.event .count:hover {
  border: 1px solid var(--main-color);
}
.event .count .number {
  color: var(--main-color);
  font-size: 2.25rem;
  font-weight: bold;
  border-bottom: 1px solid #d4d4d4;
  transition: var(--main-transition);
}
.event .count:hover .number {
  border-bottom: 1px solid var(--main-color);
}
.event .count .timeline {
  text-transform: capitalize;
  padding-top: 0.25rem;
  font-size: .75rem;
}
.event .text h3 {
  font-size: 1.9rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.event .text p {
  font-size: 1.2rem;
  color: var(--text-color-alt);
  line-height: 1.5;
}
.event .sub {
  position: relative;
  width: fit-content;
  margin: 5rem auto 0;
  background-color: #f6f5f5;
  padding: 1.5rem 2rem;
  border-radius: 40px;
}
.event .sub .email {
  padding: 1.25rem;
  border-radius: inherit;
  border: 0;
  min-width: 375px;
  margin-right: 1rem;
}
.event .sub .email:focus {
  outline: 0;
  caret-color: var(--main-color);
}
.event .sub .email::placeholder {
  text-transform: capitalize;
  font-family: 'Cairo', sans-serif;;
  font-size: 1rem;
  transition-duration: var(--main-transition);
}
.event .sub .email:focus::placeholder {
  opacity: 0;
}
.event .sub .sub-btn {
  font-family: "open sans";
  padding: 1rem;
  border: 0;
  background-color: var(--main-color);
  color: white;
  border-radius: inherit;
  font-size: .9rem;
  font-weight: bold;
  text-transform: capitalize;
  transition-duration: var(--main-transition);
}
.event .sub .sub-btn:hover {
  background-color: var(--main-color-alt);
  cursor: pointer;
}
@media(max-width: 767px) {
  .event .sub {
    width: 100%;
    border-radius: 0;
    margin: 5rem 0;
  }
  .event .sub .email,
  .event .sub .sub-btn{
    min-width: 100%;
    width: 100%;
    border-radius: inherit;
  }
  .event .sub .sub-btn {
    margin-top: 1rem;
  }
}
/* End Event */